{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!

{% endblock %}

{% block body %}

	<div class="row"></div>
	<center>
		<img style="width:600px;margin: 50px;align-items: center;justify-content: center;" src="{{ asset('images/homepicture.png') }}" alt="Description de l'image">
		<h1>Welcome to our website</h1>
	</center>

{% endblock %}

{% block pic %}{% endblock %}
