{% extends 'base.html.twig' %}

{% block title %}Edit Client
{% endblock %}

{% block body %}
	<br>
	<div class="col-sm-5 badge bg-primary">
		<h4>Editer Client</h4>
	</div>
	{{ include('client/_form.html.twig', {'button_label': 'Enregistrer'}) }}
	<div class="col-sm-5 primary">
		<div class="row-sm-20 badge bg-primary">
			<a type="button" class="btn btn-primary href=" {{ path('app_client_index') }} ">Rétour à la liste</a>
			<br>
			{{ include('client/_delete_form.html.twig') }}
		</div>
	</div>
{% endblock %}
